body {
    text-align: center;
    font-family: "Road Rage", sans-serif;
    background: linear-gradient(#D6E5E3, white);
    color: #0D1321;
}

.main-img {
    margin: 20px auto;
    border: 1px solid white;
    border-radius: 10px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}


.gift-img {
    margin: 20px auto;
    max-width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url("media/images/gift.png");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("media/images/howth-gif.gif");
}
