body {
    text-align: center;
    font-family: "Road Rage", sans-serif;
    background: linear-gradient(#D6E5E3, white);
    color: #0D1321;
}


#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}


.gift-img {
    border: 1px solid white;
    background-image: url("media/images/sean.gif");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("media/images/howth-gif.gif");
}
